.gradle/
build/
target/
*.o
*.bin
**/jni/*.dll
**/jni/*.so
build-scripts/native-modules/tuxguitar-synth-vst-*/include/
.classpath
.settings/
.project
build-scripts/tuxguitar-android/local.properties
build-scripts/tuxguitar-android/.idea/
