.menu .label {
  -fx-background-color: transparent;
  -fx-font-family: Noto Sans;
  -fx-font-size: 10pt;
}

.JFXToolBar {
  -fx-background-color: rgba(0,0,0,0);
  -fx-padding: 2 0 2 0;
}

.JFXToolActionItem,
.JFXToolCheckableItem,
.JFXToolMenuItem,
.JFXToolActionMenuItem {
  -fx-background-color: rgba(0,0,0,0);
  -fx-padding: 2 2 2 2;
}

.JFXToolActionItem:hover,
.JFXToolCheckableItem:hover,
.JFXToolMenuItem:hover,
.JFXToolActionMenuItem:hover {
  -fx-background-color: #aaaaaa,#ffffff;
  -fx-background-insets: 0,1;
  -fx-background-radius: 2;
}

.JFXToolActionItem:pressed,
.JFXToolCheckableItem:pressed,
.JFXToolMenuItem:pressed,
.JFXToolActionMenuItem:pressed {
  -fx-background-color: #aaaaaa,#cccccc;
  -fx-background-insets: 0,1;
  -fx-background-radius: 2;
}

.JFXToolActionItem:selected,
.JFXToolCheckableItem:selected,
.JFXToolMenuItem:selected,
.JFXToolActionMenuItem:selected {
  -fx-background-color: #bcbcbc,#d5d5d5;
  -fx-background-insets: 0,1;
  -fx-background-radius: 2;
}
