/* CSS Document */
body {
	color:#666666;
	background:#ffffff;
	font-size: small;
	text-align: left;
	margin:0;
}

h1{
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color: #154374;
	border-bottom: solid #d4d4d4 1px;
}

h2, h2 a, h2 a:hover{
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
	color: #154374;
	/*color: #cc6600;*/
	font-size: 16px;
}

h3, h3 a, h3 a:hover{
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
	color: #053364;
	font-size: 12px;
}

h4, h4 a, h4 a:hover{
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
	color: #053364;
	font-size: 12px;
}

p{
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	color:#666666;
}

a, a:hover {
	color: #154374;
	text-decoration: none;
}

#PageMenu {
	width: 250px;
	margin-right: 10px;
}

#PageContent {
	margin: 10px 0px 10px 0px;
}