/* CSS Document */
body {
	color:#222222;
	background:#ffffff;
	text-align: left;
	margin:0;
}

table {
	margin:10px;
}

td.left {
	min-width: 300px;
}

h1 {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	color: #154374;
	border-bottom: solid #d4d4d4 1px;
}

h2, h3, h4, h5 {
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 0px;
	color: #154374;
}

p {
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 0px 0px;
	color:#222222;
}

ul {
	padding-left: 20px;
}

a {
	color: #154374;
	text-decoration: none;
}

a:hover {
	color: #376596;
	text-decoration: none;
}

#PageMenu {
	width: 230px;
	margin-right: 10px;
}
