
/*
.JFXTextField {
    -fx-pref-width: 0;
}


.JFXTextArea {
	-fx-pref-width: 800;
	-fx-pref-height: 100;
}

.JFXToolBar {
	-fx-base: -dark-black;
	-fx-font-size: 12pt; 

	-fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
        
	-fx-background-insets: 0, 0 0 1 0;
	-fx-padding: 2px 2px 2px 2px;
    
	-fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}
*/

.JFXButton {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 2,2,2,2;
    -fx-padding: 4 8 4 8;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.JFXButton:hover{
	-fx-background-color: linear-gradient(#426ab7, #263e75);
}

.JFXButton:pressed{
	-fx-background-color: linear-gradient(#7ebcea, #2f4b8f);
}



.JFXToolBar {
	-fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.JFXToolActionItem,
.JFXToolCheckableItem,
.JFXToolMenuItem,
.JFXToolActionMenuItem {
	-fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 4 8 4 8;
}

.JFXToolActionItem:hover,
.JFXToolCheckableItem:hover,
.JFXToolMenuItem:hover,
.JFXToolActionMenuItem:hover {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 2,2,2,2;
}
