Package: tuxguitar
Version: SNAPSHOT-linux-jfx
Architecture: amd64
Depends: default-jre, liblilv-0-0
Recommends: guitarix-lv2
Priority: optional
Section: Multimedia
Maintainer: Julian Casadesus <julian@casadesus.com.ar>
Description: TuxGuitar is a multitrack guitar tablature editor and player
