Package: tuxguitar
Version: SNAPSHOT-linux-amd64
Architecture: amd64
Depends: openjdk-16-jre | openjdk-14-jre | openjdk-13-jre | openjdk-11-jre | openjdk-9-jre | openjdk-8-jre | openjdk-7-jre | openjdk-6-jre | sun-java6-jre | sun-java5-jre | java-gcj-compat-headless | java-virtual-machine
Recommends: guitarix-lv2
Priority: optional
Section: Multimedia
Maintainer: Julian Casadesus <julian@casadesus.com.ar>
Description: TuxGuitar is a multitrack guitar tablature editor and player
