[Desktop Entry]
Name=TuxGuitar tab  ...
Name=TuxGuitar-Tabulatur  ...
Comment=Enter TuxGuitar tab filename:
Comment[de]=Name der Tabulatur-Datei eingeben:
Comment[it]=Inserisci il nome della tablatura:
Type=Link
URL=.source/tuxguitar/template-default.tg
URL[bg]=.source/tuxguitar/template-default_bg.tg
URL[ca]=.source/tuxguitar/template-default_ca.tg
URL[cs]=.source/tuxguitar/template-default_cs.tg
URL[de]=.source/tuxguitar/template-default_de.tg
URL[el]=.source/tuxguitar/template-default_el.tg
URL[es]=.source/tuxguitar/template-default_es.tg
URL[eu]=.source/tuxguitar/template-default_eu.tg
URL[fi]=.source/tuxguitar/template-default_fi.tg
URL[fr]=.source/tuxguitar/template-default_fr.tg
URL[hu]=.source/tuxguitar/template-default_hu.tg
URL[it]=.source/tuxguitar/template-default_it.tg
URL[ja]=.source/tuxguitar/template-default_ja.tg
URL[ko]=.source/tuxguitar/template-default_ko.tg
URL[lt]=.source/tuxguitar/template-default_lt.tg
URL[pl]=.source/tuxguitar/template-default_pl.tg
URL[pt]=.source/tuxguitar/template-default_pt.tg
URL[ru]=.source/tuxguitar/template-default_ru.tg
URL[sr]=.source/tuxguitar/template-default_sr.tg
URL[sv]=.source/tuxguitar/template-default_sv.tg
URL[uk]=.source/tuxguitar/template-default_uk.tg
URL[vi]=.source/tuxguitar/template-default_vi.tg
URL[zh_CN]=.source/tuxguitar/template-default_zh_CN.tg
URL[zh_TW]=.source/tuxguitar/template-default_zh_TW.tg
Icon=tuxguitar
