[Desktop Entry]
Name=TuxGuitar
GenericName=Guitar Tablature Editor
GenericName[fr]=Éditeur de tablature de guitare
GenericName[es]=Editor de tablaturas de guitarra
GenericName[de]=Editor für Gitarren-Tabulaturen
GenericName[it]=Editor per tablature di chitarra
GenericName[pl]=Edytor tabulatur gitarowych
Comment=Edit and playback guitar tablatures
Comment[fr]=Édite et joue des tablatures de guitare
Comment[es]=Edita y reproduce tablaturas de guitarra
Comment[de]=Bearbeiten und abspielen von Gitarren-Tabulaturen
Comment[it]=Modifica e riproduci tablature di chitarra
Comment[pl]=Edycja i odtwarzanie tabulatur gitarowych
Keywords=Guitar Pro;MIDI
Type=Application
MimeType=application/x-tuxguitar;application/x-gtp;application/x-ptb;application/x-tef
Categories=AudioVideo;Audio
Exec=tuxguitar %F
Icon=tuxguitar
Terminal=false
StartupNotify=false
