Source: tuxguitar
Section: sound
Priority: optional
Maintainer: Philippe Coval <rzr@gna.org>
Uploaders: tony mancill <tmancill@debian.org>
Build-Depends: debhelper (>= 7), docbook-to-man, docbook-utils, quilt, ant, gcj, default-jdk | java2-compiler, libswt-gtk-3.5-java, libitext-java, libasound2-dev, libfluidsynth-dev
Standards-Version: 3.8.4
Homepage: http://www.tuxguitar.com.ar
Vcs-Git: git://git.debian.org/git/pkg-java/tuxguitar.git
Vcs-Browser: http://git.debian.org/git/pkg-java/tuxguitar.git

Package: tuxguitar
Architecture: all
Section: sound
Depends: default-jre | java2-runtime, libitext-java, libswt-gtk-3.5-java, libswt-cairo-gtk-3.5-jni , libswt-mozilla-gtk-3.5-jni, xulrunner-1.9.1, ${misc:Depends}
Recommends: tuxguitar-alsa (= ${source:Version}), tuxguitar-oss (= ${source:Version})
Suggests: tuxguitar-jsa (= ${source:Version}), lilypond
Description: Multitrack guitar tablature editor and player (gp3 to gp5)
 TuxGuitar is a multitrack Guitar tablature editor and player.
 It can open GP3, GP4, and GP5 files and exports in MIDI and PDF.

Package: tuxguitar-jsa
Architecture: all
Section: sound
Depends: tuxguitar (= ${source:Version}), default-jre | sun-java6-jre | sun-java5-jre, ${misc:Depends}
Description: tuxguitar plugin for sound playback using Java Sound API
 Use Tuxguitar along this plugin if unsure, other sounds can be used too.

Package: tuxguitar-alsa
Architecture: any
Section: sound
Depends: ${shlibs:Depends}, tuxguitar (= ${source:Version}), ${misc:Depends}
Suggests: timidity
Description: tuxguitar plugin for sound playback using ALSA
 Use Tuxguitar along this plugin if your Sound Device is supported by ALSA.
 A MIDI expander is required (Hardware or Software).

Package: tuxguitar-oss
Architecture: any
Section: sound
Depends: ${shlibs:Depends}, tuxguitar (= ${source:Version}), oss-compat, ${misc:Depends}
Suggests: timidity
Priority: extra
Description: tuxguitar plugin for sound playback using OSS
 Use Tuxguitar along this plugin if your Sound Device is supported by OSS.
 A MIDI expander is required (Hardware or Software).

Package: tuxguitar-fluidsynth
Architecture: any
Section: sound
Depends: ${shlibs:Depends}, tuxguitar (= ${source:Version}), fluidsynth, ${misc:Depends}
Priority: extra
Description: tuxguitar plugin for sound playback using fluidsynth
 Use Tuxguitar along this plugin if your audio system is configured for 
 fluidsynth as MIDI expander.

Package: tuxguitar-jack
Architecture: any
Section: sound
Depends: ${shlibs:Depends}, tuxguitar (= ${source:Version}), libjack-dev, ${misc:Depends}
Suggests: qjackctl
Priority: extra
Description: tuxguitar plugin for sound playback using JACKD
 Use Tuxguitar along this plugin if your Sound Device is supported by JACK.
 A MIDI expander is required (Hardware or Software).

Package: tuxguitar-snapshot
Architecture: all
Section: sound
Depends: ${shlibs:Depends}, tuxguitar (= ${source:Version}), ${misc:Depends}
Suggests: rzr
Priority: extra
Description: tuxguitar unreleased version
 TODO: Remove on issue and upgrade tuxguitar

