<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.herac.tuxguitar.android.gdrive"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="SNAPSHOT" >
	
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
</manifest>
