# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Ubuntu Java CI with Maven

on: [push]
#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    branches: [ "master" ]

jobs:
  build-ubuntu-latest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name : update repos
      run: sudo apt-get update
    - name : install package
      run: sudo apt install wget unzip git build-essential default-jdk maven libwebkit2gtk-4.1-0 libfluidsynth-dev libjack-jackd2-dev libasound2-dev liblilv-dev libsuil-dev qtbase5-dev
    - name : Download SWT
      run: curl -o swt-4.37-gtk-linux-`uname -m`.zip https://archive.eclipse.org/eclipse/downloads/drops4/R-4.37-202509050730/swt-4.37-gtk-linux-`uname -m`.zip
    - name : install SWT
      run: mkdir swt-4.37-gtk-linux-`uname -m` && cd swt-4.37-gtk-linux-`uname -m` && unzip ../swt-4.37-gtk-linux-`uname -m`.zip && mvn install:install-file -Dfile=swt.jar -DgroupId=org.eclipse.swt -DartifactId=org.eclipse.swt.gtk.linux -Dpackaging=jar -Dversion=4.37
    - name: Build with Maven
      run: cd desktop/build-scripts/tuxguitar-linux-swt-deb && mvn -e clean verify -P native-modules
    - uses: actions/upload-artifact@v4
      with:
        name: Package-Ubuntu
        path: desktop/build-scripts/tuxguitar-linux-swt-deb/target/tuxguitar-9.99-SNAPSHOT-linux-swt.deb


    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    ##- name: Update dependency graph
    ##  uses: advanced-security/maven-dependency-submission-action@571e99aab1055c2e71a1e2309b9691de18d6b7d6
